h2 {
	margin: 0;
	padding: 0;
}

#content-panel {
	width: 600px;
	float: left;
}

#error-console {
    background-color:#be212f;
    color: #fff;
    float: left;
    padding: 10px;
}

#media-player {
    left: 0;
    position: absolute;
    top: 0;
}
